.popup {
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup.show {
  display: flex;
}

.popup__content {
  position: relative;
}

.popup__image {
  max-height: 75vh;
  max-width: 75vw;
}

.popup__image-caption {
  position: absolute;
  left: 0;
  bottom: -20px;
}

.popup__form {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding: 35px;
  background-color: #fff;
  border-radius: 10px;
}

.popup__title {
  flex-grow: 1;
  color: #000;
  font-weight: 900;
}

.popup__input-text {
  width: 100%;
  border: none;
  border-bottom: 1px solid #c4c4c4;
  padding: 12px 0;
  padding-left: 0;
  transition: padding-left 0.25s ease-in-out;
}

.popup__input-text:focus {
  padding: 12px;
}

.popup__button-submit {
  background-color: #000;
  border: none;
  color: #fff;
  padding: 12px 0;
  margin-top: 24px;
  border-radius: 2px;
}

.popup__close-button {
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  top: -50px;
  right: -50px;
  background-image: url("../images/popup-close-icon.svg");
  background-color: transparent;
  background-size: cover;
  border: none;
  cursor: pointer;
}

@media screen and (max-width <= 768px) {
  .popup__close-button {
    top: -60px;
    right: 0;
  }
  .popup__image {
    width: 90vw;
  }
  .popup__form {
    width: 90vw;
    height: 30vh;
  }
}
